@use "./variables" as *;

/* BLOG STYLES */

/* Note about colors: I had to create a mediumGrey variable because the off white colour was hardly showing up on my monitor so any text I used it on became unreadable. I still used the off white (which i called lightGrey) to shade background areas though. */

/* General Styles */
.underline {
    border-bottom: 2px solid $lightGrey;
}

/* BLOG HEADER ------------------------------------------*/

.blog-header {
    background-image: url("../assets/blog-1.jpeg");
    background-size: cover;
    height: 100vh;
    background-position: bottom;
    background-repeat: no-repeat;
}

/* ARTICLE: BLOG - HOW TO RUN AN AGENCY ---------------------------*/

/* Article / Title Styles ----------------- */
.article-blog {
    padding: 3% 0;

    /* Blog Title*/
    h2 {
        font-size: 5rem;
        line-height: 6rem;
        font-weight: 700;
        flex-basis: 100%;
    }
}

/* H3 Styles for Each Section */
.blog-section-title {
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 30px;
}

/* Blog Breadcrumb Menu -----------------*/
.blog-menu {
    display: flex;
    padding: 2% 0;
    margin-bottom: 3%;

    li {
        font-size: 1.4rem;
        font-family: $bodyFont;
    }

    .menu-item::before {
        content: "/";
        padding: 0 5px;
        color: $mediumGrey;
    }
}

.blog-home,
.blog-blog {
    color: $mediumGrey;
}

/* Blog Post Metadata Container -----------*/
.blog-metadata {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1% 0;

    p {
        color: $mediumGrey;
    }
}

/* Blog Author Img */
.writer-img-container {
    flex-basis: 7%;
    margin-right: 10px;

    img {
        border-radius: 50%;
        ;
    }
}

/* Blog Metadata Formatting */
.administrator {
    flex-basis: 30%;
}

.date,
.category,
.tags {
    flex-basis: 17%;

}

.category-ul,
.tags-ul {
    display: flex;

    li {
        padding-right: 5px;
    }

    .p-list::after {
        content: ",";
    }
}

/* Blog Article Text -----------------------*/
.blog-text {
    p {
        padding: 10px 0;
    }

    .bold-text {
        font-weight: bold;
        margin-top: 3%;
    }
}

/* Share / Social Media Icons Container ------*/
.share-container {
    display: flex;
    align-items: center;

    i {
        padding: 10px;
    }
}

/* SECTION ONE: RELATED POSTS GALLERY------------------------------*/

.section-related-posts {
    padding: 3% 0;
}

.posts-container {
    padding: 3% 0 0 0;
    display: flex;
    justify-content: space-between;

    li {
        flex-basis: 32%;
        transition: 300ms;

        &:hover {
            opacity: 0.5;
        }
    }
}

.posts-date {
    text-transform: uppercase;
    font-family: $primaryFont;
    padding: 15px 0;
}

/* SECTION TWO: COMMENTS ----------------------------------------*/
.section-comments {
    padding: 3% 0;
}

.comment-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comment {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.comment-img-container {
    display: flex;
    flex-basis: 10%;
    align-self: flex-start;

}

/* Background container/colour for comment text.*/
.comment-text-container {
    display: flex;
    flex-direction: column;
    width: 88%;
    padding: 3%;
    background-color: $lightGrey;
    flex-wrap: wrap;
    position: relative;
    margin-left: 18px;
}

/* Decorative triangle background on comment container that makes it look like a speech bubble */
.arrow-left-detail {
    width: 20px;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 24px solid $lightGrey;
    position: absolute;
    left: -18px;
    top: 16px;
}

/* Container for commenter name and reply link */
.name-reply {
    display: flex;
}

.name-reply>p {
    text-transform: uppercase;
}

.reply-link {
    font-style: italic;
    padding-left: 5px;
    color: $mediumGrey;
}



/* SECTION THREE: LEAVE A COMMENT ----------------------------------*/

.section-comment-form {
    padding: 3% 0 8% 0;
    font-size: 1.4rem;
}

.comment-form-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-between;
    margin: 3% 0;

    input,
    textarea {
        color: $mediumGrey;
        padding: 10px 5px;
        border-style: none none solid none;
        border-color: $lightGrey;
        border-size: 1px;
        transition: 300ms;
        &:hover,
        &:focus {
            color: $black;
            border-color: $black;
            border-size: 2px;
        }
    }
}

.comment-name-input,
.comment-email-input,
.comment-subject-input {
    flex-basis: 32%;
}

.comment-content-input {
    flex-basis: 100%;
    margin: 3% 0;
    resize: none;
}

/* Submit Button */
.button-submit-comment {
    text-transform: uppercase;
    font-weight: 400;
    font-family: $primaryFont;
    padding: 10px 0;
    border-bottom: 1px solid $black;
    transition: 300ms;
    &:hover,
    &:focus {
        border-bottom: 2px solid $black;
        scale: 0.95;
    }
}