@use "variables" as *;

/* --------------MEDIA QUERY 1150PX--------------- */

@media (max-width: 1300px) {

    .article-blog h2 {
        font-size: 3.8rem;
    }

}

/* --------------MEDIA QUERY 1000PX--------------- */

@media (max-width: 1000px) {

    .blog-header {
        background-position: bottom left;
    }

    /* Blog Title */
    .article-blog h2 {
        font-size: 3rem;
    }


    /* Metadata Section */
    .blog-metadata {
        order: -1;
        position: relative;
    }

    .writer-img-container {
        order: 2;
        margin: 0;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .date,
    .category,
    .tags {
        flex-basis: 100%;
        order: 3;
    }

    .date,
    .category,
    .tags,
    .administrator {
        margin-bottom: 2%;
    }

    .blog-metadata::after {
        bottom: -10%;
    }

}

/* --------------MEDIA QUERY 800PX--------------- */

@media (max-width: 800px) {

    /* Related Posts Section ----------------*/

    /* H3 Styles for Each Section */
    .blog-section-title {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }

    /* Image Gallery */
    .posts-container {
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;

        li {
            flex-basis: 100%;
            height: 100%;
            padding-bottom: 3%;

            img {
                width: 100%;
                max-height: 350px;
                object-fit: cover;
                object-position: bottom;
            }
        }
    }
    
}

/* --------------MEDIA QUERY 500PX--------------- */

@media (max-width: 500px) {

    /* Blog Menu */
    .blog-menu a {
        font-size: 1.2rem;
    }

    /* Comment Section */
    .comment-img-container {
        flex-basis: 20%;
    }

    .comment-text-container {
        flex-basis: 74%;
    }

}