@use "./variables" as *;

/* CONTACT PAGE MEDIA QUERIES */

/* MEDIA QUERY MAX WIDTH 1000PX ------------------------------------------------- */

@media (max-width: 1000px) {
    .contact-header h2 {
        font-size: 4rem;
    }

    /* Section 1: Contact Details */
    .contact-icon-container {
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        align-items: flex-start;
    }

    .contact-phone-container,
    .contact-email-container,
    .contact-address-container {
        padding: 3% 0;
    }

    .contact-address-container::before,
    .contact-email-container::before {
        display: none;
    }

    /* Section 2: Get In Touch With Us Forms */
    .comment-form-container {
        flex-direction: column;

        input {
            margin: 3% 0;
        }

        button {
            align-self: center;
        }
    }

    /* Section 3: Full Bleed Image */
    .section-comments-full-image {
        max-height: 500px;
    }
}

/* MEDIA QUERY MAX WIDTH 800PX -------------------------------------------------- */

@media (max-width: 800px) {

    .contact-background-img {
        background-position: left;
    }

    .section-contact-details,
    .section-in-touch,
    .details-container,
    .contact-icon-container {
        padding: 5% 0;
    }

    /* Section 2: Get In Touch With Us Forms */
    .comment-form-container {
        flex-direction: column;

        input {
            margin: 4% 0;
        }
    }

    /* Section 3: Full Bleed Image */
    .section-comments-full-image {
        max-height: 300px;
    }
}