@use "./variables" as *;

/* CONTACT PAGE SECTIONS STYLES */

/* HEADER BEGINS */
.contact-header {
    background-image: url("../assets/contact-1.jpeg");
    background-size: contain;
    height: 257px;
    position: relative;
    background-position: top 100px left 0;
    background-repeat: no-repeat;
}
/* HEADER ENDS */

/* SECTION 1: CONTACT DETAILS ------------------------------*/

