@use "./variables" as *;

// there is a wrapper on nav or .header-nav
// edited wrapper down to 75% width

* {
    // border: 1px solid pink;
}

header {
    background-color: $lightGrey;
    background-image: url(../../assets/home-1.jpeg);
    background-size: cover;
    height: 100vh;
    background-position: bottom;
    position: relative;

    .vertical-line {
        border-left: .5px solid $black;
        display: block;
        height: 120px;
        position: absolute;
        bottom: -60px;
        left: 50%;
    }
}

.header-nav {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    position: relative;

    .mobile-menu {
        display:none;
        .shop-bag {
            position: relative;
            .cart-number {
                    display: inline;
                    position: absolute;
                    background-color: $lightSage;
                    border-radius: 50%;
                    padding: 3px 5px;
                    top: 1.2rem;
                    right: 0;
                }
        }
        
            i:hover {
                scale: 0.9;
                opacity: 0.5;
            }
    }

    a {
        padding: 10px 15px;
        display: inline-block;
        transition: 300ms;
    }

    a:not(.creative-logo),
    button {
        transition: 500ms;

        &:hover {
            text-decoration: line-through;
        }
    }

    .creative-logo {
        order: 2;
        display: flex;

        h1 {
            transition: 400ms;
            text-align: center;
            margin: 0;

            &:hover {
                opacity: 0.5;
            }
        }


    }

    .menu-button,
    #toggle {
        display: none;
        color: $black;
        position: absolute;
        left: 170px;
        top: 30px;

        i {
            font-size: 2.6rem;
            margin-left: 20px;
            padding: 1px;
        }

        #toggle {
            display: none;
        }
    }

    /* Right Side Shop Nav Bar */
    .home-menu {
        display: flex;
        flex-basis: 40%;
        order: 1;
    }


    /* Right Side Shop Nav Bar */
    .shop-menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-basis: 40%;
        order: 3;
        transition: 500ms;

        .shop-bag {
            position: relative;
        }

        .cart-number {
            display: inline;
            position: absolute;
            background-color: $lightSage;
            border-radius: 50%;
            padding: 3px 5px;
            top: 1.2rem;
            right: 0;
        }

        i:hover {
            scale: 0.9;
            opacity: 0.5;
        }
    }
}