@use "./variables" as *;

// there is a wrapper on nav or .header-nav
// edited wrapper down to 75% width

* {
    // border: 1px solid pink;
}
header {
    background-color: pink;
    background-image: url(../../assets/home-1.jpeg);
    background-size: cover;
    height: 100vh;
    background-position: bottom;
    position: relative;
    .vertical-line {
        border-left: .5px solid $black;
        display: block;
        height: 120px;
        position: absolute;
        bottom: -60px;
        left: 50%;
    }
}

.header-nav {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;

    h1 {
        text-align: center;
        margin: 0;
    }

    a {
        padding: 10px 15px;
        display: inline-block;
    }

    a,
    button {
        border: 1px #00000000 solid;
        transition: 500ms;

        &:hover {
            border: 1px $black solid;
            transform: scale(0.9);
        }
    }
}

/* Right Side Shop Nav Bar */
.home-menu {
    display: flex;
    flex-basis: 40%;


}


/* Right Side Shop Nav Bar */
.shop-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 40%;

    .shop-bag {
        position: relative;
    }

    .cart-number {
        display: inline;
        position: absolute;
        background-color: $lightSage;
        border-radius: 50%;
        padding: 3px 5px;
        top: 1.2rem;
        right: 0;
    }
}

