@use "variables" as *;

// Use 1000px 800px & 500px

/* Icon gallery began to scroll overtop of the dark part of the image so I've added a translucent background so the text is legible. */

@media (max-width: 1150px) {

    /* Icon Gallery Styles */
    .section-icon-gallery {
        .icon-gallery-container {
            margin-left: 8%;
            background-color: rgba(241, 239, 239, 0.785);
        }
    }
}

@media (max-width: 1000px) {

    /* Header Styles */
    .header-nav {
        justify-content: flex-start;
        flex-wrap: wrap;
        transition: 500ms;

        /* Menus hidden so they can be revealed by toggle */
        .home-menu,
        .shop-menu {
            order: 2;
            flex-basis: auto;
            display: none;
        }

        /* Toggle For Hidden Menu */
        #toggle:checked+.shop-menu,
        #toggle:checked+.home-menu {
            display: block;
        }

        .creative-logo {
            flex-basis: 100%;
            order: 1;

            .menu-button {
                display: block;
                cursor: pointer;
            }

            h1 {
                font-size: 2.6rem;
                text-align: left;
            }
        }
    }

    /* Section 1: Branding */
    .desk-img-container .circular-text {
        width: 30%;
    }


    /* Section 3 : Meet our Team*/
    .container-meet-our-team {
        .container-team-players {
            justify-content: center;
            padding: 2%;

            h3 {
                margin: 0;
            }
        }

        p {
            font-size: 1.2rem;
        }
    }


    /* */

    /* */

    /* */

    /* */

    /* Footer Styles */
    .footer-container {
        flex-wrap: wrap;

        .contact-us-container {
            min-width: 40%;
        }

        .recent-posts-container {
            min-width: 40%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        .twitter-container {
            width: 100%;
            margin-top: 30px;

            h4 {
                text-align: center;
            }

            label {
                text-align: center;
            }

            .email-container {
                justify-content: center;
                align-items: center;

                button {
                    padding: 2.25%;
                }
            }
        }
    }
}


@media (max-width: 800px) {

    .wrapper {
        width: 95%;
    }

    /* Header Styles */
    .header-nav {

        .shop-menu,
        .home-menu {
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }
    }

    /* Icon Gallery Styles Styles */
    .section-icon-gallery {
        .icon-gallery-container {
            flex-direction: column;
            flex-basis: 100%;
            justify-content: center;
            align-items: center;

            li {
                flex-basis: 100%;
                padding: 0 15%;
            }
        }
    }

    /* Section 3: Meet Our Team*/
    .section-team {
        h2 {
            margin-top: 50px;
        }
    }


    .container-meet-our-team {

        .container-team-players {
            flex-basis: 100%;
            padding: 4%;
            margin: 0 0 5px 0;
        }

        .container-team-img {
            flex-basis: 50%;
            height: auto;
            margin: 0;

        }

        .container-team-img:nth-child(odd) {
            padding: 5px 0px 5px 5px;
        }

        .container-team-img:nth-child(even) {
            padding: 5px 5px 5px 0px;
        }

        .container-work-with-us {
            flex-basis: 50%;
            margin: 0;
            padding: 5px 0px 5px 5px;

            a {
                padding: 47% 20%;
            }
        }
    }

    /* Footer Styles */
    .footer-container {
        flex-wrap: wrap;

        .contact-us-container {
            display: flex;
            flex-direction: column;
            min-width: 100%;
            justify-content: center;
            align-items: center;
        }

        .recent-posts-container {
            min-width: 100%;
            margin-top: 30px;
            align-items: center;
        }
    }

}