@use "./variables" as *;

// SECTION FIVE: DROP US A LINE

// * {
//     border: 1px solid navy;
// }

.section-drop-a-line {
    display: flex;

    .container-drop-a-line {
        flex-basis: 50%;
        background-color: $lightSage;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 8%;
        border: 1px solid #00000000;

        p {
            margin: 12% auto;
        }

        .portfolio-link {
            font-weight: 700;
            font-size: 1.4rem;
            letter-spacing: 0.07rem;
            text-transform: uppercase;
            background-color: $pureWhite;
            padding: 15px 20px;
            transition: 300ms;

            &:hover {
                border: 1px solid $black;
                scale: (0.9);
            }
        }
    }

    .container-drop-img {
        flex-basis: 50%;
        img {
            object-fit: cover;
        }
    }
}