@use "./variables" as *;

// * {
//     border: 1px solid navy;
// }

.section-gallery {
    display: flex;
    align-items: center;
    padding: 12% 0 10% 0;

    .left-scroll-icon {
        color: $black;
    }

    .right-scroll-icon {
        color: rgb(93, 91, 91);
    }

    .left-scroll-icon,
    .right-scroll-icon {
        font-size: 3rem;
        font-weight: bolder;
        transition: 300ms;

        &:hover {
            transform: scale(1.5)
        }
    }

    .container-circle-gallery {
        display: flex;
        flex-direction: column;
        flex-basis: 60%;
        margin: 0 auto;
        text-align: center;

        .magazine-img {
            align-self: center;
            width: 35%;
            border-radius: 50%;
        }

        p {
            margin-top: 5%;
            font-style: italic;
        }
    }
}