@use "./variables" as *;



html {
    font-size: 62.5%;
    font-family: $primaryFont;
    color: $black;
}

h1,
h2,
h3,
h4,
h5 {
    text-transform: uppercase;
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 3.7rem;
    letter-spacing: 0.09rem;
}

h2,
h3,
h4,
h5 {
    font-weight: 400;
    font-size: 1.8rem;
    letter-spacing: 0.18rem;
    line-height: 2.4rem;
}

a {
    color: $black;
}

p {
    line-height: 2.4rem;
}

p,
footer li,
footer form {
    font-family: $bodyFont;
    font-size: 1.4rem;
    letter-spacing: 0.03rem;
}

footer p,
footer li,
footer form {
    line-height: 3rem;
}

footer,
footer p,
footer a {
    color: $pureWhite;
}

footer input[type="email"],
footer button i {
    color: $black;
}

/* Nav Text & Footer "Creative Agency" Bar */
nav,
.creative-container {
    font-weight: 400;
    font-size: 1.4rem;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
}

i {
    font-size: 1.9rem;
}

button {
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: 0.07rem;
}

.cart-number {
    font-size: 0.8rem;
    line-height: 0.8rem;
}