/* Site Colours */ 
$lightSage: #C3DAB7;
$pureWhite: #FFFFFF;
$lightGrey: #F6F6F6;
$charcoal: #333333; 
/* I had to create the mediumGrey colour below because the LightGrey made text illegible on my Blog page (at least on my monitor), so it subbed in mediumGrey in some areas for readability. */
$mediumGrey: #8d8c8c;
$black: #000;

/* Site Fonts */
$primaryFont: 'Montserrat',
sans-serif;
$bodyFont: 'Open Sans',
sans-serif;