/* Site Colours */
/* Site Fonts */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  color: #333333;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 3.7rem;
  letter-spacing: 0.09rem;
}

h2,
h3,
h4 {
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 0.18rem;
  line-height: 2.4rem;
}

a {
  color: #333333;
}

p {
  line-height: 2.4rem;
}

p,
footer li,
footer form {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.03rem;
}

footer p,
footer li,
footer form {
  line-height: 3rem;
}

footer,
footer p,
footer a {
  color: #FFFFFF;
}

footer input[type=email],
footer button i {
  color: #333333;
}

/* Nav Text & Footer "Creative Agency" Bar */
nav,
.creative-container {
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
}

i {
  font-size: 1.9rem;
}

button {
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 0.07rem;
}

.cart-number {
  font-size: 0.8rem;
  line-height: 0.8rem;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  width: 75%;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

i {
  padding: 5px 5px;
}

header {
  background-color: #F6F6F6;
  background-image: url(../../assets/home-1.jpeg);
  background-size: cover;
  height: 100vh;
  background-position: bottom;
  position: relative;
}
header .vertical-line {
  border-left: 0.5px solid #333333;
  display: block;
  height: 120px;
  position: absolute;
  bottom: -60px;
  left: 50%;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  position: relative;
  /* Right Side Shop Nav Bar */
  /* Right Side Shop Nav Bar */
}
.header-nav .mobile-menu {
  display: none;
}
.header-nav .mobile-menu .shop-bag {
  position: relative;
}
.header-nav .mobile-menu .shop-bag .cart-number {
  display: inline;
  position: absolute;
  background-color: #C3DAB7;
  border-radius: 50%;
  padding: 3px 5px;
  top: 1.2rem;
  right: 0;
}
.header-nav .mobile-menu i:hover {
  scale: 0.9;
  opacity: 0.5;
}
.header-nav a {
  padding: 10px 15px;
  display: inline-block;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.header-nav a:not(.creative-logo),
.header-nav button {
  -webkit-transition: 500ms;
  transition: 500ms;
}
.header-nav a:not(.creative-logo):hover,
.header-nav button:hover {
  text-decoration: line-through;
}
.header-nav .creative-logo {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-nav .creative-logo h1 {
  -webkit-transition: 400ms;
  transition: 400ms;
  text-align: center;
  margin: 0;
}
.header-nav .creative-logo h1:hover {
  opacity: 0.5;
}
.header-nav .menu-button,
.header-nav #toggle {
  display: none;
  color: #333333;
  position: absolute;
  left: 170px;
  top: 30px;
}
.header-nav .menu-button i,
.header-nav #toggle i {
  font-size: 2.6rem;
  margin-left: 20px;
  padding: 1px;
}
.header-nav .menu-button #toggle,
.header-nav #toggle #toggle {
  display: none;
}
.header-nav .home-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.header-nav .shop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -webkit-transition: 500ms;
  transition: 500ms;
}
.header-nav .shop-menu .shop-bag {
  position: relative;
}
.header-nav .shop-menu .cart-number {
  display: inline;
  position: absolute;
  background-color: #C3DAB7;
  border-radius: 50%;
  padding: 3px 5px;
  top: 1.2rem;
  right: 0;
}
.header-nav .shop-menu i:hover {
  scale: 0.9;
  opacity: 0.5;
}

.section-branding {
  background-color: #C3DAB7;
  padding: 12% 0 10% 0;
}
.section-branding .section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.section-branding h2 {
  margin-bottom: 15px;
}

.desk-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.desk-img-container .desk-img {
  margin: 0 60%;
}
.desk-img-container .circular-text {
  position: absolute;
  left: -18%;
  top: -28%;
  width: 40%;
  height: auto;
  z-index: 10;
}

.branding-text-container {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-top: 5%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.branding-text-container .container-branding,
.branding-text-container .container-design-develop {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0 15px;
}

.section-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12% 0 10% 0;
}
.section-gallery .left-scroll-icon {
  color: #333333;
}
.section-gallery .right-scroll-icon {
  color: rgb(93, 91, 91);
}
.section-gallery .left-scroll-icon,
.section-gallery .right-scroll-icon {
  font-size: 3rem;
  font-weight: bolder;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.section-gallery .left-scroll-icon:hover,
.section-gallery .right-scroll-icon:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
.section-gallery .container-circle-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  margin: 0 auto;
  text-align: center;
}
.section-gallery .container-circle-gallery .magazine-img {
  -ms-flex-item-align: center;
      align-self: center;
  width: 35%;
  border-radius: 50%;
}
.section-gallery .container-circle-gallery p {
  margin-top: 5%;
  font-style: italic;
}

.section-icon-gallery {
  background-image: url(../../../assets/home-4.jpeg);
  background-size: cover;
  padding: 8% 0;
  background-color: #F6F6F6;
}
.section-icon-gallery .icon-gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50%;
  margin-right: 8%;
}

.section-icon-gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-icon-gallery ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}
.section-icon-gallery ul li button {
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
}
.section-icon-gallery ul li button i {
  border: 2px solid #333333;
  font-size: 2.6rem;
  width: 6rem;
  height: 6rem;
  line-height: 4.4rem;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.section-icon-gallery ul li button i:hover {
  color: #F6F6F6;
  background-color: #333333;
  scale: 95%;
}
.section-icon-gallery ul li .gallery-text-container {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  margin-left: 5%;
  margin-top: 5%;
}
.section-icon-gallery ul li .gallery-text-container p {
  font-size: 1.1rem;
}

.section-team {
  position: relative;
  padding: 7% 0 10% 0;
}
.section-team .vertical-line-two {
  border-left: 0.5px solid #333333;
  display: block;
  height: 60px;
  position: absolute;
  top: 0;
  left: 50%;
}
.section-team h2 {
  text-align: center;
}

.container-meet-our-team {
  padding-top: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.container-meet-our-team .container-team-players {
  -ms-flex-preferred-size: calc(50% - 20px);
      flex-basis: calc(50% - 20px);
  padding: 4%;
  min-height: 100%;
  margin: 10px;
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.container-meet-our-team .container-team-players h3 {
  margin-bottom: 15px;
}

.container-team-img {
  -ms-flex-preferred-size: calc(25% - 20px);
      flex-basis: calc(25% - 20px);
  margin: 10px;
}
.container-team-img img {
  width: 100%;
  height: auto;
  display: block;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.container-team-img img:hover {
  opacity: 0.5;
}

.container-work-with-us {
  -ms-flex-preferred-size: calc(25% - 20px);
      flex-basis: calc(25% - 20px);
  margin: 10px;
  position: relative;
}
.container-work-with-us .anchor-box {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 4% 8%;
  border: 2px solid rgba(0, 0, 0, 0);
}
.container-work-with-us:hover {
  border: 2px solid #333333;
  background-color: #F6F6F6;
}

.section-drop-a-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-drop-a-line .container-drop-a-line {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background-color: #C3DAB7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 8%;
  border: 1px solid rgba(0, 0, 0, 0);
}
.section-drop-a-line .container-drop-a-line p {
  margin: 12% auto;
}
.section-drop-a-line .container-drop-a-line .portfolio-link {
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  background-color: #FFFFFF;
  padding: 15px 20px;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.section-drop-a-line .container-drop-a-line .portfolio-link:hover {
  border: 1px solid #333333;
  scale: 0.9;
}
.section-drop-a-line .container-drop-img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.section-drop-a-line .container-drop-img img {
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  background-color: #333333;
  padding-top: 10%;
}
footer a {
  -webkit-transition: 300ms;
  transition: 300ms;
  cursor: pointer;
}
footer a:hover {
  opacity: 0.5;
}
footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer-container h4 {
  margin-bottom: 25px;
}

.footer-icon-container {
  margin-top: 30px;
}
.footer-icon-container a {
  -webkit-transition: 300ms;
  transition: 300ms;
}
.footer-icon-container a:hover {
  opacity: 0.5;
}
.footer-icon-container a i {
  margin-right: 20px;
}

.recent-posts-container h4 {
  text-align: center;
}
.recent-posts-container li {
  list-style: disc;
  line-height: 3rem;
}

.twitter-container h4 {
  text-align: end;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 35%;
}
.footer-form label {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 25px 0 30px 0;
}
.footer-form .email-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer-form .email-container input[type=email] {
  padding: 0 50px 0 20px;
  border: none;
}
.footer-form .email-container button {
  padding: 15px;
  background-color: #C3DAB7;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.footer-form .email-container button:hover, .footer-form .email-container button:focus {
  background-color: #F6F6F6;
}

footer .creative-container {
  text-align: center;
  margin-top: 10%;
  padding: 5% 0;
  border-top: 0.5px solid rgba(165, 165, 165, 0.589);
}
footer .creative-container p {
  font-weight: 900;
  letter-spacing: 0.6rem;
}

/* Icon gallery began to scroll overtop of the dark part of the image so I've added a translucent background so the text is legible. */
/* --------------MEDIA QUERY 1150PX--------------- */
@media (max-width: 1150px) {
  /* Icon Gallery Styles */
  .section-icon-gallery .icon-gallery-container {
    margin-left: 8%;
    background-color: rgba(241, 239, 239, 0.785);
  }
  /* Section 4: Meet our Team*/
  .container-meet-our-team .container-team-players {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2%;
  }
  .container-meet-our-team .container-team-players h3 {
    margin: 0;
  }
  .container-meet-our-team p {
    font-size: 1.2rem;
  }
  /* Footer */
  footer p,
footer a,
footer label {
    font-size: 1.3rem;
  }
}
/* --------------MEDIA QUERY 1000PX--------------- */
@media (max-width: 1000px) {
  /* Header Styles */
  .header-nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-transition: 500ms;
    transition: 500ms;
    position: relative;
    /* Menus hidden so they can be revealed by toggle */
    /* Toggle For Hidden Menu */
  }
  .header-nav .home-menu,
.header-nav .shop-menu {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    display: none;
  }
  .header-nav .menu-button {
    display: block;
    cursor: pointer;
  }
  .header-nav #toggle:checked + .mobile-menu {
    position: absolute;
    top: 60px;
    display: block;
  }
  .header-nav .creative-logo {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header-nav .creative-logo h1 {
    font-size: 2.6rem;
    text-align: left;
  }
  /* Section 1: Branding */
  .branding-text-container {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .desk-img-container .circular-text {
    width: 30%;
  }
  /* Section 2: Circle Gallery */
  .section-gallery .container-circle-gallery .magazine-img {
    width: 70%;
  }
  /* Section 4: Meet Our Team*/
  .section-team h2 {
    margin-top: 50px;
  }
  .container-meet-our-team .container-team-players {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 4%;
    margin: 0 0 5px 0;
  }
  .container-meet-our-team .container-team-img {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    height: auto;
    margin: 0;
  }
  .container-meet-our-team .container-team-img:nth-child(odd) {
    padding: 5px 0px 5px 5px;
  }
  .container-meet-our-team .container-team-img:nth-child(even) {
    padding: 5px 5px 5px 0px;
  }
  .container-meet-our-team .container-work-with-us {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin: 0;
    padding: 5px 0px 5px 5px;
  }
  .container-meet-our-team .container-work-with-us a {
    padding: 47% 20%;
  }
  /* Section 5: Drop Us A Line */
  .section-drop-a-line .container-drop-img img {
    height: 100%;
  }
  /* Footer Styles */
  .footer-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-container .contact-us-container {
    min-width: 40%;
  }
  .footer-container .recent-posts-container {
    min-width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .footer-container .twitter-container {
    width: 100%;
    margin-top: 30px;
  }
  .footer-container .twitter-container h4 {
    text-align: center;
  }
  .footer-container .twitter-container label {
    text-align: center;
  }
  .footer-container .twitter-container .email-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/* --------------MEDIA QUERY 800PX--------------- */
@media (max-width: 800px) {
  .wrapper {
    width: 95%;
  }
  /* Header Styles */
  .header-nav .shop-menu,
.header-nav .home-menu {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  /* Section 1: Branding */
  .section-branding {
    padding-top: 15%;
  }
  .desk-img-container .circular-text {
    width: 20%;
    left: calc(50% - 47px);
    top: 85%;
  }
  .branding-text-container {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .branding-text-container .container-branding,
.branding-text-container .container-design-develop {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 7% 0 2% 0;
  }
  /* Section 2: Circle Gallery */
  .section-gallery .container-circle-gallery .magazine-img {
    width: 60%;
  }
  /* Section 3: Icon Gallery Styles Styles */
  .section-icon-gallery .icon-gallery-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-icon-gallery .icon-gallery-container li {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 0 15%;
  }
  /* Section 5: Drop Us A Line*/
  .section-drop-a-line {
    position: relative;
  }
  .section-drop-a-line .container-drop-a-line {
    position: absolute;
    width: 90%;
    top: 20%;
    left: 5%;
  }
  .section-drop-a-line .container-drop-img {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  /* Footer Styles */
  .footer-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-container .contact-us-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-container .recent-posts-container {
    min-width: 100%;
    margin-top: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-icon-container a i {
    margin: 0 20px;
  }
}
/* --------------MEDIA QUERY 500PX--------------- */
@media (max-width: 500px) {
  /* Global Styles */
  h2,
h3,
h4 {
    font-size: 1.6rem;
  }
  /* Header */
  header .vertical-line {
    height: 60px;
    bottom: -30px;
  }
  /* Section 1: Branding */
  .desk-img-container {
    min-height: 300px;
  }
  .desk-img-container img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .desk-img-container .circular-text {
    width: 20%;
    left: calc(50% - 9vw);
    top: calc(85% + 1vh);
  }
  .branding-text-container .container-branding,
.branding-text-container .container-design-develop {
    margin: 10% 0 2% 0;
  }
  /* Section 2: Circle Gallery */
  .section-gallery button {
    -ms-flex-item-align: baseline;
        align-self: baseline;
    margin-top: 25%;
  }
  .section-gallery .container-circle-gallery {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0 auto;
  }
  .section-gallery .container-circle-gallery .magazine-img {
    width: 80%;
    margin-bottom: 20px;
  }
  /* Section 3: Icon Gallery Styles Styles */
  .section-icon-gallery .icon-gallery-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-icon-gallery .icon-gallery-container li {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 5% 15%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-icon-gallery .icon-gallery-container li .gallery-text-container {
    text-align: center;
  }
  /* Section 4: Meet our Team */
  .section-team {
    padding-bottom: 10px;
  }
  .section-team .anchor-box h3 {
    font-size: 1.4rem;
  }
  /* Section 5: Drop Us A Line */
  .section-drop-a-line .container-drop-a-line {
    position: static;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .section-drop-a-line .container-drop-img {
    display: none;
  }
  /* Footer Styles */
  .footer-container p {
    font-size: 1.3rem;
  }
}