/* Site Colours */
/* Site Fonts */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  color: #333333;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

h1 {
  font-weight: 700;
  font-size: 3.7rem;
  letter-spacing: 0.09rem;
}

h2, h3, h4 {
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 0.18rem;
  line-height: 2.4rem;
}

a {
  color: #333333;
}

p, footer li, footer form {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.03rem;
}

footer, footer p, footer a {
  color: #FFFFFF;
}

footer input[type=email] {
  color: black;
}

/* Nav Text & Footer "Creative Agency" Bar */
nav, .creative-container {
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
}

i {
  font-size: 1.9rem;
}

button {
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 0.07rem;
}

.cart-number {
  font-size: 0.8rem;
  line-height: 0.8rem;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

i {
  padding: 5px 5px;
}

header {
  background-color: pink;
  background-image: url(../../assets/home-1.jpeg);
  background-size: cover;
  height: 100vh;
  background-position: bottom;
  position: relative;
}
header .vertical-line {
  border-left: 0.5px solid #333333;
  display: block;
  height: 110px;
  position: absolute;
  bottom: -50px;
  left: 50%;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}
.header-nav h1 {
  text-align: center;
  margin: 0;
}
.header-nav a {
  padding: 10px 15px;
  display: inline-block;
}
.header-nav a,
.header-nav button {
  border: 1px rgba(0, 0, 0, 0) solid;
  -webkit-transition: 500ms;
  transition: 500ms;
}
.header-nav a:hover,
.header-nav button:hover {
  border: 1px #333333 solid;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

/* Right Side Shop Nav Bar */
.home-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

/* Right Side Shop Nav Bar */
.shop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}
.shop-menu .shop-bag {
  position: relative;
}
.shop-menu .cart-number {
  display: inline;
  position: absolute;
  background-color: #C3DAB7;
  border-radius: 50%;
  padding: 3px 5px;
  top: 1.2rem;
  right: 0;
}

.section-branding {
  background-color: #C3DAB7;
  padding: 12% 0 10% 0;
}
.section-branding .section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.section-branding .desk-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.section-branding .desk-img-container .desk-img {
  margin: 0 60%;
}
.section-branding .desk-img-container .circular-text {
  position: absolute;
  left: -18%;
  top: -28%;
  width: 40%;
  height: auto;
  z-index: 10;
}
.section-branding .branding-text-container {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-top: 5%;
}

.section-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12% 0 10% 0;
}
.section-gallery .left-scroll-icon {
  color: #333333;
}
.section-gallery .right-scroll-icon {
  color: rgb(93, 91, 91);
}
.section-gallery .left-scroll-icon,
.section-gallery .right-scroll-icon {
  font-size: 3rem;
  font-weight: bolder;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.section-gallery .left-scroll-icon:hover,
.section-gallery .right-scroll-icon:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
.section-gallery .container-circle-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  margin: 0 auto;
  text-align: center;
}
.section-gallery .container-circle-gallery .magazine-img {
  -ms-flex-item-align: center;
      align-self: center;
  width: 35%;
  border-radius: 50%;
}
.section-gallery .container-circle-gallery p {
  margin-top: 5%;
  font-style: italic;
}

.section-icon-gallery {
  background-image: url(/users/fionafreemark/websites/juno/projects/project-1/assets/home-4.jpeg);
  background-size: cover;
  padding: 8% 0;
}
.section-icon-gallery .icon-gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50%;
  margin-right: 8%;
}

.section-icon-gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-icon-gallery ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}
.section-icon-gallery ul li button {
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
}
.section-icon-gallery ul li button i {
  border: 2px solid #333333;
  font-size: 2.6rem;
  width: 6rem;
  height: 6rem;
  line-height: 4.4rem;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.section-icon-gallery ul li button i:hover {
  color: #F6F6F6;
  background-color: #333333;
  scale: 95%;
}
.section-icon-gallery ul li .gallery-text-container {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  margin-left: 5%;
  margin-top: 5%;
}
.section-icon-gallery ul li .gallery-text-container p {
  font-size: 1.1rem;
}